[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
pylint-django = "*"
djangorestframework = "*"
psycopg2 = "*"
python-dotenv = "*"
cloudinary = "*"
pyjwt = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.8"
